.challenges-list{
    height: 500px;
    overflow: scroll;
    /* height: -webkit-fill-available; */
    flex: 3 1;
}
.link{
    cursor: pointer;
}
.manage-challenge{
    justify-content: space-between;
    align-items: center;
    display: flex;
   
}
.item{    
    background-color: white;
    padding: 2%;
    margin: 0 20px 20px 20px;
}
.card-body {
    padding: 1%;
}
.challenge{
    width: 100%;
    margin-left: 5%;
    margin-top: 50px;
    justify-content: center;
    display: flex;
}